body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
    background-color: #aaaaaa;
    color: #000000;
    font-family: 'Jost', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 3fr;
    grid-template-areas:
        "header header header header"
        "main main main main";
    height: 100vh;
}

main.open {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 3fr;
    grid-template-areas:
        "header header header header"
        "main main main main";
    height: 100vh;
}

.material-icons {
    vertical-align: middle;
    line-height: 1px;
    cursor: pointer;
}

header{
    grid-area: header;
    height: 50px;
    background-color: #2c6994;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 0 10px 0 10px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

nav {
    grid-area: main;
    margin-top: -20px;
    padding-top: 20px;
    width: 250px;
    height: 100%;
    position: relative;
    left: -257px;
    background-color: #2c6994;
    box-shadow: 7px 8px 8px 0 rgba(0, 0, 0, 0.2);
}

nav.open {
    left: 0;
}

.content {
    grid-area: main;
    overflow-y: auto;
    position: relative;
    padding: 20px 20px;
    margin-left: 0;
}

.content.open {
    margin-left: 250px;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #474f79;
    border-left: 7px solid #2c6994;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card>span {
    font-size: 30px;
    font-weight: 600;
}

.card-inner>p {
    font-size: 23px;
    font-weight: 600;
}

.icon {
    width: 48px;
    height: 48px;
    margin: 5px;
}

.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}

.list {
    list-style-type: none;
}

.list-item {
    display: inline-block;
    vertical-align: center;
    padding: 10px 10px 15px 0px;    
}