/* General styling for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
    color: #333;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(246, 241, 241, 0.985);
    border-bottom: 2px solid #ddd;
}

header img {
    height: 100px;
}

.header-buttons a {
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header-buttons a:hover {
    background-color: #555;
}

/* Content area styling */
.content {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the event-links section */
.event-links {
    margin-top: 30px;
}

.event-links h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.event-card {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    margin-bottom: 15px;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card img {
    height: 50px;
    margin-right: 20px;
}

.event-info h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.event-info p {
    margin: 5px 0 0;
    color: #666;
}

/* Styling for the world clock */
#world-clock {
    max-width: 500px;
    margin: 30px auto; /* Centers the clock */
    padding: 35px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    text-align: center; /* Centers text within the clock */
}

#world-clock h2 {
    font-size: 20px; /* Reduced size */
}

.city {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 20px; /* Adjusted font size */
}

.city-name {
    font-weight: bold;
}
