# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore environment variable files (if any)
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore package-lock.json (Optional, if you don't want to track it)
package-lock.json
