<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/resources/Black Lion Logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&style=filled">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/landing.css">
    <title>Register</title>
  </head>
  
  <body>
    <!-- Header Start -->
    <header class="header">
      <div class="menu">
        <span class="material-icons" onclick="toggleSidebar()">menu</span>
        <div class="material-icons"><img src="/resources/logo_lg.svg"></div>
      </div>
      <div class="header-right" style="padding-right:25px;">
        <a href="#" onclick="document.getElementById('logout-form').submit();" style="display: inline-block; text-decoration: none; cursor: pointer;">
          <span class="material-icons">account_circle</span>
        </a>
        <form id="logout-form" action="/logout?_method=DELETE" method="POST" style="display: none;"></form>        
      </div>
    </header>
    <!-- Header End -->

    <!-- Body Start -->
    <main class="main-container" id="main_container">
      <div class="content-with-bg2">
        <div class="login-form">
          <h1>Register</h1>
          <form class="login-form-inner" id="register-Form" action="/register" method="POST">
            
            <label for="first_name">First Name:</label>
            <input class="form-control" type="text" name="first_name" placeholder="First Name" required />

            <label for="last_name">Last Name:</label>
            <input class="form-control" type="text" name="last_name" placeholder="Last Name" required />

            <br>

            <label for="dateOfBirth">Date of Birth:</label>
            <input class="form-control" type="date" name="dob" required />

            <br>

            <label for="username">Username:</label>
            <input class="form-control" type="text" name="username" placeholder="Username" required />

            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" placeholder="Password" required />

            <br>

            <label for="email">Email:</label>
            <input class="form-control" type="email" name="email" placeholder="Email" required />

            <label for="phone">Phone Number:</label>
            <input class="form-control" type="text" name="phone" placeholder="Phone Number" required />

          </form>
          <br>
          <p style="visibility: hidden;">Black Lion Group excels in the event planning industry by combining creativity with meticulous attention to detail. Unlike other event planning companies, Black Lion Group offers personalized services tailored to the unique needs and visions of each client. Their expertise in coordinating various types of events ensures that every aspect, from logistics to aesthetics, is handled flawlessly.</p>
          <div class="card-buttons">
            <a href="#" onclick="document.getElementById('register-Form').submit();" >
              <span class="material-icons">person_add</span> REGISTER
            </a>
          </div>
        </div>
      </div>
    </main>
    <!-- Body End -->

    <!-- Nav Start -->
    <nav class="sidebar" id="sidebar">
      <ul class="list">
        <li class="list-item">
          <a href="/">
            <span class="material-symbols-rounded">home</span> HOME
          </a>
        </li><br>
        <li class="list-item">
          <a href="/my_events">
            <span class="material-symbols-rounded">upcoming</span> MY EVENTS
          </a>
        </li><br>
        <li class="list-item">
          <a href="/event">
            <span class="material-symbols-rounded">event</span> PLANNING
          </a>
        </li><br>
      </ul>
    </nav>
    <!-- Nav End -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.40.0/apexcharts.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/camera.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/table.js"></script>
    <script src="/js/card.js"></script>
    <script src="/js/world_clock.js"></script>
    <script src="/js/contextMenu.js"></script>
  </body>
</html>